@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,100;1,300;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}
header{
    display: flex;
    box-shadow: 0px 0px 10px #c2bfbf;

}
.logo{
    padding-top: 15px;
    font-weight:500;
    font-size: 38px;
}
/* INPUT */
.inputbox{
  padding: 25px 0 0 100px;
  border-radius: 50%;
}
.inputbox input{
height: 32px;
width: 250px;
padding: 5px;
}
.date{
  padding: 25px 0 0 50px;
}
.date input{
  font-size: 16px;
  color: rgb(4, 150, 4);
  border: none;
  width: 112px;
}
#date {
  padding: 5px;
  border-radius: 10px;
  border: none;
  transition: all 0.2s ease-in-out;
}

#date::-webkit-calendar-picker-indicator {
  display: none;
}
.notifi lord-icon{
  position: absolute;
  padding-top: 18px;
  right: 300px;
}
.question lord-icon{
  position: absolute;
  padding-top: 18px;
  right: 230px;
}
/* USER */
.user{
  position: absolute;
  right: 10px;
  display: flex;
  width: 200px;
}
.user img{
  width: 50px;
  height: 70px;
  padding-top: 20px;

}

.user a{
  padding: 18px 10px 0 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.user h3{

}
@media (max-width: 1024px) {
  html{
    font-size: 50%;

  }
  header {
    width: 80%;
    font-size: 50%;
  }
}